.input-comp {
  @include pxRem(height, 60);
  position: relative;
  .input-task {
    @include pxRem(padding, 16 50 16 15);
    @include box-shadow(inset 0 0 8px 4px rgba(0,0,0,.03));
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    border: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .add-btn {
    @include pxRem(top, 7);
    @include pxRem('font-size', 30);
    @include pxRem('padding', 0 10);
    position: absolute;
    right: 0;
    &:disabled {
      .ec-attachment {
        color: map-get($colors, second);
      }
    }
    .ec-attachment {
      color: map-get($colors, primary);
    }
  }
}

@include respond-below(small) {
  .input-comp {
    .ec-attachment {
      @include pxRem(font-size, 30);
    }
  }
}
