.input-comp {
  @include pxRem(height, 60);
  position: relative;
  .icon-plus {
    color: map-get($colors, white);
  }
  .input-task {
    @include pxRem(padding, 16 50 16 57);
    @include box-shadow(inset 0 0 8px 4px rgba(0,0,0,.03));
    @include pxRem("border-radius", 20);
    @include pxRem("padding", 0 50);
    @include pxRem("height", 45);
    @include pxRem("line-height", 45);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    border: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: map-get($colors, white);
    color: map-get($colors, green);
    outline: 0;
    border: solid 1px map-get($colors, green);
    &::placeholder {
      color: map-get($colors, black);
    }
  }
  .btn-calendar {
    @include pxRem(top, 9);
    @include pxRem(left, 10);
    position: absolute;
    z-index: 1;
    i {
      @include pxRem('font-size', 25);
      color: map-get($colors, green);
    }
  }
  .add-btn {
    @include pxRem('font-size', 30);
    @include pxRem('padding', 0 10);
    @include pxRem('top', 2);
    position: absolute;
    right: 0;
    &:disabled {
      .icon-plus {
        color: map-get($colors, green);
      }
    }
    .icon-plus {
      color: map-get($colors, green-dark);
    }
  }
}
.vdpClearInput {
  display: none;
}

@include respond-below(small) {
  .input-comp {
    .ec-attachment {
      @include pxRem(font-size, 24);
    }
  }
}
.vdpWithInput {
  @include pxRem(margin-top, 40);
}
