.todos-footer {
  @include respond-above(medium)  {
    @include pxRem("height", 80);
  }
  @include pxRem("padding", 10 15);
  @include pxRem("height", 50);
  background-color: map-get($colors, bg-header);
  position: relative;
  border-top: 1px solid map-get($colors, border);
  display: flex;
  align-items: center;
  &::before {
    @include pxRem("height", 50);
    content: "";
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0,0,0,.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0,0,0,.2);
  }
}
.todos-footer-toolbar {
  display: flex;
  flex-grow: 5;
  align-items:center;
  .toolbar-item {
    @include pxRem("font-size", 12);
    flex: 1 0;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0;
    strong {
      @include pxRem("font-size", 20);   
    }
    &.counter {
      color: map-get($colors, p-2);
    }
    &.cleaner {
      button {
        margin: 0;
        border: 0;
      }
    }
    .toolbar-btn {
      @include pxRem("padding", 3 8);
      @include pxRem("border-radius", 3);   
      border: 1px solid transparent;
      color: map-get($colors, white);
      outline: 0;
      &.active,
      &:hover {
        color: map-get($colors, p-2);
      }
    }
  }
}
button:disabled {
  color: map-get($colors, p-1);
}

@include respond-below(medium)  {
  .todos-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .todos-footer-toolbar {
    .toolbar-item.counter,
    .toolbar-item.cleaner {
      flex: 2 0;
    }
  }
}

.toolbar-btn {
  background: none;
}

@include respond-below(small)  {
  .todos-footer-toolbar {
    .toolbar-item {
      @include pxRem("font-size", 8);
      .toolbar-btn {
        background: none;
        border: 0;
      }
      &.cleaner {
        button {
          background: none;
        }
      }
      &.counter,
      &.cleaner {
        flex: 1 0;
      }
    }
  }
}
