.page-header {
  @include pxRem("padding", 15);
  transition: all .3s ease-in-out;
  text-align: center;
  background: map-get($colors, bg-header);
  .logo {
    @include pxRem("width", 240);
    max-width: 100%;
  }
  .mobile-only {
    display: none;
  }
  .page-title {
    @include pxRem("font-size", 36);
    @include pxRem("margin", 20 0);
    color: map-get($colors, white);
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px map-get($colors, border), 1px 1px 1px map-get($colors, shadow);
    text-align: center;
    text-transform: uppercase;
  }
  .nav-bar {
    display: none;
  }
}

@include respond-below(medium)  {
  .page-header {
    @include pxRem('height', 60);
    @include pxRem('padding', 0 15);
    display: flex;
    align-items: center;
    flex-grow: 12;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    border-bottom: 1px solid map-get($colors, border);
    .page-logo {
      flex: 2 0;
    }
    .logo {
      @include pxRem('width', 35);
    }
    .desktop-only {
      display: none;
    }
    .mobile-only {
      display: inherit;
    }
    .page-title {
      @include pxRem('font-size', 28);
      flex: 8 0;
      font-weight: normal;
      text-transform: capitalize;
    }
    .nav-bar {
      @include pxRem('font-size', 28);
      display: flex;
      justify-content: flex-end;
      flex: 2 0;
      text-align: right;
    }
    .avatar-circle {
      @include pxRem('width', 35);
      border-radius: 50%;
    }
  }
}
