.main {
  @include pxRem("width", 550);
  margin: 0 auto;
  background: map-get($colors, white);
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 25px 50px 0 rgba(0,0,0,.1);
  color: map-get($colors, main-color);
  background: url("../../logo/bg.svg") no-repeat bottom;
  background-size: cover;
  .main-detail {
    @include pxRem("border-radius", 20 20 0 0);
    @include pxRem("padding-top", 20);
    background: map-get($colors, white);
    height: 100vh;
  }
}
@include respond-below(medium)  {
  .feature,
  .todos {
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .main {
    @include pxRem("padding-top", 70);
    width: 100%;
    min-height: 100vh;
  }
}
