.login {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  .logo {
    @include pxRem("width", 90);
  }
  .title {
    @include pxRem("font-size", 24);
    font-weight: 400;
  }
  .login-btn {
    @include pxRem("margin-top", 50);
    @include pxRem("font-size", 18);
    @include pxRem("padding", 10);
    @include pxRem("margin", 10 0);
    border-radius: 5px;
    border-color: unset;
    background-color: map-get($colors, bg-header);
    color: map-get($colors, white);
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-weight: 300;
    &:active {
      background-color: map-get($colors, shadow);
      opacity: 0.7;
    }
    &:disabled {
      background-image: linear-gradient(to right top, #6faf8c, #90bd8e, #b3cb92, #d6d79a, #f9e3a7);
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

@include respond-above(medium)  {
  .login {
    @include pxRem("width", 400);
  }
}
