@include respond-below(medium)  {
  .aside-profile {
    background: map-get($colors, white);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    .menu-list {
      text-align: left;
      .menu-item {
        @include pxRem("padding", 10);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f3f3f3;
        &:first-child {
          @include pxRem("border-width", 3);
        }
      }
      .profile-avatar {
        img {
          @include pxRem("width", 45);
          @include pxRem("height", 45);
          border-radius: 50%;
        }
      }
      .user-info {
        position: relative;
        width: calc(90% - 50px);
        .email {
          color: map-get($colors, bg-header);
        }
      }
      .btn-close-panel {
        @include pxRem("font-size", 25);
        @include pxRem("top", 5);
        @include pxRem("right", 5);
        position: absolute;
      }
    }
  }
}
