.no-post {
  text-align: center;
  color: map-get($colors, second);
  .ec-paperclip {
    @include pxRem(font-size, 40);
  }
  .no-post-message {
    @include pxRem(font-size, 10);
  }
}
.list-tasks {
  @include pxRem("padding-bottom", 50);
  overflow-x: hidden;
}
.task {
  @include pxRem("margin-bottom", 5);
  @include pxRem("padding", 10);
  position: relative;
  background: map-get($colors, white);
  display: flex;
  align-items: center;
  .ec-square-o, .ec-check-square-o {
    @include pxRem("font-size", 30);
    @include pxRem("margin-right", 10);
  }
  .ec-check-square-o {
    @include pxRem(left, 2);
  }
  .content-box {
    .content {
      @include pxRem("font-size", 16);
      @include pxRem('line-height', 22);
    }
    small {
      @include pxRem('font-size', 12);
      color: map-get($colors, second);
    }
  }
  .btn-del {
    @include pxRem("font-size", 30);
  }
}

.unactive-content {
  .content {
    text-decoration: line-through;
  }
  .ec-bin {
    color: grey;
  }
}

@include respond-below(small)  {
  .task {
    .ec-check-square-o,
    .ec-square-o {
      @include pxRem("font-size", 20);
    }
    .content {
      @include pxRem("font-size", 16);
    }
    .ec-bin {
      @include pxRem("font-size", 20);
    }
  }
}
