* {
  box-sizing: border-box;
}
body {
  color: map-get($colors, normal);
}
.ec {
  color: map-get($colors, second);
  line-height: 1px; 
}
a:hover {
  color: map-get($colors, primary);
}
html {
  background: map-get($colors, bg-page);
}
