* {
  box-sizing: border-box;
}
body {
  font-family: 'Arial';
  color: map-get($colors, white);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.ec {
  color: map-get($colors, main-color);
  line-height: 1px; 
}
a:hover {
  color: map-get($colors, primary);
}
html {
  background: map-get($colors, bg-page);
}

@include respond-below(medium)  {
  body,
  html {
    background: map-get($colors, white);
  }
}

@include respond-above(medium)  {
  .page-title {
    display: none;
  }
}
